<!DOCTYPE html>
<html lang="en" class="bg-near-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Crackbowl</title>
    <script src="lib/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <script src="lib/vue-focus.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://use.fontawesome.com/28b27610da.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
    <script src="lib/hammer.min.js"></script>
    <script src="lib/vue-touch.min.js"></script>
    <script src="lib/progressbar.min.js"></script>
    <script src="lib/events.js"></script>
    <script src="lib/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <script src="lib/chartist.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/chartist-vue.js"></script>
</head>

<body>
    <div id="wrapper">
        <header class="bg-black white-90 dt w-100 f5">
            <nav class="container bb b--black-10">
                <span class="dib pv3 pr4 dim" @click="currentView = 'questionview'">Home</span>
                <span class="dib pv3 pr4 dim" @click="info">About</span>
                <span class="dib pv3 pr4 dim" v-if="user" @click="currentView='statview'">Stats</span>
                <span class="dib pv3 dim" v-if="!user " @click="logIn">Sign In</span>
                <span class="dib pv3 dim" v-if="user" @click="logOut">Sign Out</span>
            </nav>
        </header>
        <div class="container">
            <component :is="currentView"></component>
        </div>
    </div>
    <template id="questionView">
        <div v-touch:swipeleft="nextQuestion" v-touch:swiperight="buzz" v-touch:press="toggleBuffer">
            <div class="mv3">
                <input v-if="canBuzz" class="u-full-width" placeholder="Type" type="text" v-model="input" @keyup.enter="submit" v-focus-model="focused">
            </div>
            <div>
                <a class="button" @click="buzz">Buzz</a>
                <a class="button" @click="nextQuestion">Next</a>
                <a class="button" v-if="!pause" @click="pauseBuffer">Pause</a>
                <a class="button" v-if="pause" @click="playBuffer">Play</a>
            </div>
            <div class="row mv2">
                <alert v-for="item in $root.alerts" class="animated" transition="bounce" :data="item"></alert>
            </div>
            <div class="row">
                <div class="eight columns br2 bg-white ph4-ns ph3 pv2">
                    <div v-show="timerBuffer > -1" id="timer" class="u-full-width">
                        <p class="tc f2 mb2 fw3">{{timerBuffer/10}} </p>
                    </div>
                    <p class="f4 mv2">{{currentQuestion.heading}}</p>
                    <p class="f5 lh-copy">{{textBuffer}}</p>
                </div>
                <div class="four columns tc pa3 pb4 ph4 br2 bg-white">
                    <p class="f3">Score</p>
                    <p class="f2 fw3">{{score}}</p>
                    <hr>
                    <p class="f3">Level</p >
                    <select v-model="selected.level">
                        <option value="HS">High School</option>
                    </select>
                    <hr>
                    <p class="f3">Topics</p >
                    <select v-model="selected.subject">
                        <option value="All">All</option>
                        <option value="Literature">Literature</option>
                        <option value="History">History</option>
                        <option value="Science">Science</option>
                        <option value="Fine Arts">Fine Arts</option>
                        <option value="Religion">Religion</option>
                        <option value="Mythology">Mythology</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Social Science">Social Science</option>
                        <option value="Geography">Geography</option>
                        <option value="Current Events">Current Events</option>
                        <option value="Trash">Trash</option>
                    </select>
                </div>
            </div>
        </div>
    </template>
    <template id="statView">
        <div class="mt4">
            <div class="bg-white pa3 pb3 br2">
                <div class="row mb3">
                    <div class="four columns">
                        <p class="f4">Number of Questions</p>
                        <input type="number" class="u-full-width mb2" v-model="number" v-model="input" @keyup.enter="submit" min="1" max="500">
                    </div>
                    <div class="four columns">
                        <p class="f4">Topics</p>
                        <select class="u-full-width" v-model="topic">
                            <option value="All">All</option>
                            <option value="Literature">Literature</option>
                            <option value="History">History</option>
                            <option value="Science">Science</option>
                            <option value="Fine Arts">Fine Arts</option>
                            <option value="Religion">Religion</option>
                            <option value="Mythology">Mythology</option>
                            <option value="Philosophy">Philosophy</option>
                            <option value="Social Science">Social Science</option>
                            <option value="Geography">Geography</option>
                            <option value="Current Events">Current Events</option>
                            <option value="Trash">Trash</option>
                        </select>
                    </div>
                </div>
                <a class="button" @click="submit">Submit</a>
            </div>
            <div v-show="show">
                <hr>
                <div class="row mb5">
                    <div class="six tc columns">
                        <p class="f4">Correct</p>
                        <chartist class="ct-chart" ratio="ct-major-second" type="Pie" :data="charts.correct"></chartist>
                    </div>
                    <div class="six tc columns">
                        <p class="f4">Subjects Answered</p>
                        <chartist class="ct-chart" ratio="ct-major-second" type="Pie" :data="charts.subjects"></chartist>
                    </div>
                </div>
                <div class="row mb5" v-for="arr in charts.eachSubject">
                    <div class="six tc columns" v-for="data in arr">
                        <p class="f4">{{data.title}}</p>
                        <chartist class="ct-chart" ratio="ct-major-second" type="Pie" :data="data"></chartist>
                    </div>
                </div>
            </div>
            <hr>
            <p>Select the topics that you would like to run the analysis on. "None" means that the question hasn't been classified yet.</p>
        </div>
    </template>
</body>
<script>
firebase.initializeApp({
    apiKey: "AIzaSyAcG7nNgaJdArS9PDZwXMZmiTej7HQitGo",
    authDomain: "crackbowl-3dd7d.firebaseapp.com",
    databaseURL: "https://crackbowl-3dd7d.firebaseio.com",
    storageBucket: "crackbowl-3dd7d.appspot.com",
});
var db = firebase.database()
VueTouch.config.swipe = {
    direction: 'horizontal'
}
Vue.use(VueTouch)
</script>
<script src="lib/util.js"></script>
<script src="views/alert.js"></script>
<script src="views/question/root.js"></script>
<script src="views/stats/root.js"></script>
<script src="views/main.js"></script>

</html>
