<!DOCTYPE html>
<html lang="en" class="bg-near-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="128x128" href="img/icon.png" />
    <title>Crackbowl</title>
    <script src="lib/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <script src="lib/vue-focus.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://use.fontawesome.com/28b27610da.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
    <script src="lib/hammer.min.js"></script>
    <script src="lib/vue-touch.min.js"></script>
    <script src="lib/progressbar.min.js"></script>
    <script src="lib/events.js"></script>
    <script src="lib/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
</head>

<body>
    <img src="lib/loading-bars.svg" id="loading" style="position: absolute;top: 50%;left: 50%;width: 8rem;height: 8rem;margin-top: -4rem;margin-left: -4rem;">
    <div id="wrapper" style="display:none">
        <header>
            <nav class="c-nav c-nav--inline">
                <a class="c-nav__item" href="/#/">Home</a>
                <span class="c-nav__item" @click="info">About</span>
                <span class="c-nav__item c-nav__item--right" v-if="!user" @click="logIn">Sign In</span>
                <span class="c-nav__item c-nav__item--right" v-if="user" @click="logOut">Sign Out</span>
                <a class="c-nav__item c-nav__item--right" v-if="user" href="/#/stats">Stats</a>
            </nav>
        </header>
        <div class="container">
            <component :is="currentView"></component>
        </div>
    </div>
    <template id="questionView">
        <div v-touch:swipeleft="nextQuestion" v-touch:swiperight="buzz" v-touch:press="toggleBuffer">
            <div class="mt4-ns mt3 mb3-ns mb3">
                <input v-if="canBuzz" class="u-full-width" placeholder="Type" type="text" v-model="input" @keyup.enter="submit" v-focus-model="focused">
            </div>
            <a class="button" @click="buzz">Buzz</a>
            <a class="button" @click="nextQuestion">Next</a>
            <a class="button" v-if="!pause" @click="pauseBuffer"><i class="fa fa-pause"></i></a>
            <a class="button" v-if="pause" @click="playBuffer"><i class="fa fa-play"></i></a>
            <div class="row c-alerts mt1">
                <alert v-for="item in $root.alerts" class="animated" transition="bounce" :data="item"></alert>
            </div>
            <div class="row mt1">
                <div class="eight columns br2 bg-white ph4-ns ph3 pv4-ns pv2">
                    <div v-show="timerBuffer > -1" id="timer" class="u-full-width">
                        <h3 class="tc mb4">{{timerBuffer/10}} </h3>
                    </div>
                    <h5>{{currentQuestion.heading}}</h5>
                    <p>{{textBuffer}}</p>
                </div>
                <div class="four columns tc fw3 pa3 pb4 ph4 br2 bg-white">
                    <h5>Score</h5>
                    <h3>{{score}}</h3>
                    <hr>
                    <h5>Level</h5>
                    <select v-model="selected.level">
                        <option value="HS">High School</option>
                    </select>
                    <hr>
                    <h5>Topics</h5>
                    <select v-model="selected.subject">
                        <option value="All">All</option>
                        <option value="Literature">Literature</option>
                        <option value="History">History</option>
                        <option value="Science">Science</option>
                        <option value="Fine Arts">Fine Arts</option>
                        <option value="Religion">Religion</option>
                        <option value="Mythology">Mythology</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Social Science">Social Science</option>
                        <option value="Geography">Geography</option>
                        <option value="Current Events">Current Events</option>
                        <option value="Trash">Trash</option>
                    </select>
                </div>
            </div>
        </div>
    </template>
    <template id="statView">
        <div class="mt4">
            <div class="row">
                <div class="four columns">
                    <h5>Number of Questions</h5>
                    <select class="u-full-width" v-model="number">
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                    </select>
                </div>
                <div class="four columns">
                    <h5>Topics</h5>
                    <select class="u-full-width" v-model="topic">
                        <option value="All">All</option>
                        <option value="Literature">Literature</option>
                        <option value="History">History</option>
                        <option value="Science">Science</option>
                        <option value="Fine Arts">Fine Arts</option>
                        <option value="Religion">Religion</option>
                        <option value="Mythology">Mythology</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Social Science">Social Science</option>
                        <option value="Geography">Geography</option>
                        <option value="Current Events">Current Events</option>
                        <option value="Trash">Trash</option>
                    </select>
                </div>
            </div>
            <a class="button mt4" @click="submit">Submit</a>
            <div v-if="show">
                <hr>
                <div v-for="item in questions">
                    {{item.correct}}
                </div>
            </div>
            <hr>
            <p>Select the topics that you would like to run the analysis on.</p>
        </div>
    </template>
</body>
<script>
firebase.initializeApp({
    apiKey: "AIzaSyAcG7nNgaJdArS9PDZwXMZmiTej7HQitGo",
    authDomain: "crackbowl-3dd7d.firebaseapp.com",
    databaseURL: "https://crackbowl-3dd7d.firebaseio.com",
    storageBucket: "crackbowl-3dd7d.appspot.com",
});
var db = firebase.database()
VueTouch.config.swipe = {
    direction: 'horizontal'
}
Vue.use(VueTouch)
</script>
<script src="lib/util.js"></script>
<script src="views/alert.js"></script>
<script src="views/question/root.js"></script>
<script src="views/stats/root.js"></script>
<script src="views/main.js"></script>

</html>
